<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.flimticketserver.mapper.FilmMapper">

    <resultMap id="filmMap" type="com.zy.flimticketserver.entity.FilmEntity">
        <id property="filmId" column="filmId" javaType="String"/>
        <result property="filmName" column="filmName" javaType="String"/>
        <result property="durationMin" column="durationMin" javaType="String"/>
        <result property="description" column="description" javaType="String"/>
        <result property="countries" column="countries" javaType="String"/>
        <result property="rating" column="rating" javaType="Float"/>
        <result property="genres" column="genres" javaType="String"/>
        <result property="language" column="languages" javaType="String"/>
        <result property="releaseDates" column="releaseDates" javaType="String"/>
        <result property="coverUrl" column="coverUrl" javaType="String"/>
        <result property="screenTypes" column="screenTypes" javaType="String"/>
    </resultMap>

    <select id="findFilms" resultMap="filmMap">
       select * from film
    </select>

    <select id="findFilmByName" resultMap="filmMap" parameterType="string">
        select * from film where filmName like concat('%',#{filmName},'%');
    </select>

    <select id="findFilmById" resultMap="filmMap" parameterType="arraylist">
        select * from film where filmId in
          <foreach collection="array" open="(" separator="," close=")" item="filmId">
              #{filmId}
          </foreach>
    </select>
</mapper>