<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.flimticketserver.mapper.FilmReleaseMapper">

    <resultMap id="FilmReleaseMap" type="com.zy.flimticketserver.entity.FilmReleaseEntity">
        <id property="id" column="id" javaType="Integer"/>
        <result property="filmName" column="filmName" javaType="String"/>
        <result property="filmId" column="filmId" javaType="String"/>
        <result property="cinemaId" column="cinemaId" javaType="String"/>
        <result property="cinemaName" column="cinemaName" javaType="String"/>
        <result property="releaseNum" column="releaseNum" javaType="Integer"/>
        <result property="releasePosition" column="releasePosition" javaType="Integer"/>
        <result property="releaseTime" column="releaseTime" javaType="String"/>
        <result property="releaseDate" column="releaseDate" javaType="Date"/>
    </resultMap>

    <select id="findFilmReleaseEntityByCinemaId" resultMap="FilmReleaseMap" parameterType="arraylist">
        select * from flim_release where cinemaId in
        <foreach collection="array" open="(" separator="," close=")" item="cinemaId">
            #{cinemaId}
        </foreach>
    </select>

    <select id="findFilmIds" resultType="string" parameterType="arraylist">
        select distinct filmId from flim_release where cinemaId in
        <foreach collection="array" open=")" separator="," close=")" item="cinemaId">
            #{cinemaId}
        </foreach>
    </select>

    <select id="findFilmReleaseById" parameterType="string" resultMap="FilmReleaseMap">
        select * from flim_release where id=#{id}
    </select>

    <select id="findCinemaIdByFilmId" parameterType="string" resultType="string">
        select cinemaId from flim_release where filmId=#{filmId}
    </select>

    <select id="findFilmReleaseByFilmName" resultMap="FilmReleaseMap" parameterType="string">
        select filmId from flim_release where filmName like concat('%',#{filmName},'%')
    </select>

    <select id="findReleaseFilmByCinemaIdAndFilmId" resultMap="FilmReleaseMap" parameterType="map">
        select * from flim_release where cinemaId=#{cinemaId} and filmId=#{filmId}
    </select>
</mapper>